* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(207, 220, 20);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

#text {
  resize: none;
  background-color: rgb(207, 220, 20);
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: 900;
  border: 2px solid black;
}

h1 {
  color: black;
  padding: 20px;
}

.aboutstring {
  padding: 10px;
  width: 860px;
  height: 100px;
  /* background-color: red; */
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
}
